// variables
// primary
$clr-primary-orange: hsl(31, 77%, 52%);
$clr-primary-700: hsl(184, 100%, 22%);
$clr-primary-900: hsl(179, 100%, 13%);

// neutral
$clr-neutral-000: hsla(0, 0%, 100%, 0.75);
$clr-neutral-100: hsl(0, 0%, 95%);

// typography
$fs-base: 15px;

$ff-primary: 'Big Shoulders Display', cursive;
$ff-secondary: 'Lexend Deca', sans-serif;

$fw-p-regular: 400;
$fw-s-bold: 700;
